@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Ubuntu:wght@400;700&display=swap');


:root{
    --primary-color : #73aff3; 
    --dark-grey : #6B7280;
}
body{
    font-family: 'Montserrat', sans-serif;
}

hr{
    margin: 2rem 0rem;
}
.container
{
    padding : 0.5rem 1 rem;
}

.container-center{
 max-width: 600px;
 margin: auto;
}

/** Links **/

.link{
    text-decoration: none;
    padding : 0.5rem 1rem;
}

.link-primary
{ 
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}
.link-secondary
{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/** the list wont have bullet**/

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

/** navigation **/

.navigation
{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem ;
}

.navigation .link{
    color: white;
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .link-active{
    font-weight: bold;
}

/**headers**/

.hero
{
    padding : 2rem;
}
.hero .hero-img{
    max-width: 350px;
    display: block;
    margin: auto;
}
.hero .hero-heading
{
   color: var(--dark-grey);
}

.hero .hero-heading .heading-inverted{
    color: var(--primary-color);
}